.popup{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.popup-inner{
    position:relative;
    padding:20px;
    width:100%;
    max-width:750px;
    height:650px;
    overflow:scroll;
    opacity:100%;
    background-color:white;

}

.popup-inner .close-btn{
    position:absolute;
    top: 16px;
    right:16px;
    
}

.popup img{
    width:50%;
    height:50%;
    object-fit:cover;
    object-position:center;
}
