@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar{
  background-color: #333;
  overflow: hidden;
  top: 0;
  width: 100%;
  justify-content: space-between;
}

.navbar :link, :visited {
  /* Display links on right side of navbar */
  float: right;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
}

.navbar h1{
  float: left;
  padding: 10px;
  margin: 10px;
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

.book-list{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
}

.book{
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  width: 300px;
  height: 650px;
  
  transition: 0.3s;
  cursor: pointer;
}

.book h1{
  text-align: center;
  font-size: 28PX;
}

.book h2{
  text-align: center;
  font-size: 16PX;
}

.book img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.random-book{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
}
.random-book button{
  align-items: center;
  border-radius: 10px;
}


.navbar{
  text-align: center;
  border-bottom: 10px;
  border-style:hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
}

.pagination :hover{
  background-color: #333;
  text-decoration: none;
}

.previousBttn{
  margin: 10px;
  padding: 20px;
  width: 10px;
  border-radius: 10px;
  background-color: #333;
  color: aliceblue;
  border: none;
  cursor: pointer;
}

.previousBttn :hover{
  text-decoration: none;
  padding: 10px;
}

.nextBttn{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
  color: aliceblue;
  border: none;
  cursor: pointer;
}
